Projet_Xamarin_Gestion_Courses/bin
Projet_Xamarin_Gestion_Courses/obj
Projet_Xamarin_Gestion_Courses.Android/bin
Projet_Xamarin_Gestion_Courses.Android/obj
Projet_Xamarin_Gestion_Courses.UWP/bin
Projet_Xamarin_Gestion_Courses.UWP/obj