# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\XAMARIN\Projet_Xamarin_Gestion_Courses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
